<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Movie Ticket Booking</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<nav class="navbar">

    <h2>🎬 Movie Booking</h2>

    <div>
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/add-movie">Add Movie</a>
        <a href="/booking-history">Bookings</a>
    </div>

</nav>

<div class="container">

    <div class="hero">

        <h1>🎬 Movie Ticket Booking System</h1>

        <p>
            Book your favourite movie and select your favourite seat!
        </p>

        <a href="/movies" class="btn">
            Browse Movies
        </a>

    </div>

</div>

<div class="footer">

    <p>© 2026 Movie Ticket Booking System</p>

</div>

</body>

</html>